[Unit]
Description=PlanB Queue server
After=network.target mysql.service redis-server.service

[Service]
Type=simple
EnvironmentFile=/etc/planb/envvars
ExecStartPre=/srv/virtualenvs/planb/bin/planb bqueueflush
ExecStart=/srv/virtualenvs/planb/bin/planb qcluster
User=planb
Group=nogroup

[Install]
WantedBy=multi-user.target
