[Unit]
Description=PlanB double backup pull job
Documentation=https://github.com/ossobv/planb/blob/main/contrib/manual-zfssync.sh
After=network.target
ConditionPathExists=/etc/default/planb-double-backup
# Error if it restarts more than 12x within 2 hours of restarts.
StartLimitInterval=2h
StartLimitBurst=12

[Service]
#Environment=USERATHOST=user@host
#Environment=DESTPOOL=tank
Environment=RESTART_AFTER=900
EnvironmentFile=/etc/default/planb-double-backup
ExecStart=/srv/virtualenvs/planb/src/planb/contrib/planb-double-backup ${USERATHOST} ${DESTPOOL} ${RESTART_AFTER}
Restart=always
RestartSec=5m

[Install]
WantedBy=multi-user.target
