Django>=2.1.9,<2.2
django-q>=1.0.1,<2
django-multi-email-field>=0.5,<0.6

mysqlclient>=1.3.7,<2   # APT: python3-mysqldb
redis>=2.10.5,<3        # APT: python3-redis
setproctitle>=1.1.8,<2  # APT: python3-setproctitle

dutree>=1.5,<2
PyYAML>=5.1.1

# For rst2html for planb-report as HTML
# apt-get install python3-docutils --no-install-recommends

# kleides-dssoclient for Discourse Single-Sign-On
kleides-dssoclient>=0.3
