# Keep requirements in sync with setup.py and constraints.txt
# Use requirements to set hard dependencies.
Django
django-q
django-multi-email-field

redis
setproctitle
pysigset
python-dateutil

dutree>=1.8
PyYAML

# For rst2html for planb-report as HTML
# apt-get install python3-docutils --no-install-recommends

# kleides-dssoclient for Discourse Single-Sign-On
kleides-dssoclient
