Django>=1.11.1
django-q>=0.8.0
django-multi-email-field>=0.4

mysqlclient>=1.3.7,<2   # APT: python3-mysqldb
redis>=2.10.5,<3        # APT: python3-redis
setproctitle>=1.1.8,<2  # APT: python3-setproctitle
