{% extends "admin/change_form.html" %}
{% load i18n %}

{% block extrahead %}
    {{ block.super }}
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}backup/js/jquery-postlink.js"></script>
    <script type="text/javascript">//<![CDATA[
        django.jQuery(document).ready(function() {
            django.jQuery(".postlink").postlink({'csrf_protected': true});
        });
    //]]></script>
{% endblock %}

{% block object-tools-items %}
    {% if user.is_superuser %}
        <li><a class="postlink" href="enqueue/">{% trans "Enqueue" %}</a></li>
    {% endif %}

    {{ block.super }}
{% endblock %}
